PivotClient/Service References/OlapManagerService/service22.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Syncfusion.Olap.UWP.Reports" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Syncfusion.Olap.UWP.Common" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOlapDataProvider_GetJSONData_InputMessage">
    <wsdl:part name="parameters" element="GetJSONData" />
  </wsdl:message>
  <wsdl:message name="IOlapDataProvider_GetJSONData_OutputMessage">
    <wsdl:part name="parameters" element="GetJSONDataResponse" />
  </wsdl:message>
  <wsdl:message name="IOlapDataProvider_GetJSONCubeSchema_InputMessage">
    <wsdl:part name="parameters" element="GetJSONCubeSchema" />
  </wsdl:message>
  <wsdl:message name="IOlapDataProvider_GetJSONCubeSchema_OutputMessage">
    <wsdl:part name="parameters" element="GetJSONCubeSchemaResponse" />
  </wsdl:message>
  <wsdl:message name="IOlapDataProvider_GetJSONMeasureGroupsDimensions_InputMessage">
    <wsdl:part name="parameters" element="GetJSONMeasureGroupsDimensions" />
  </wsdl:message>
  <wsdl:message name="IOlapDataProvider_GetJSONMeasureGroupsDimensions_OutputMessage">
    <wsdl:part name="parameters" element="GetJSONMeasureGroupsDimensionsResponse" />
  </wsdl:message>
  <wsdl:message name="IOlapDataProvider_GetJSONParentMember_InputMessage">
    <wsdl:part name="parameters" element="GetJSONParentMember" />
  </wsdl:message>
  <wsdl:message name="IOlapDataProvider_GetJSONParentMember_OutputMessage">
    <wsdl:part name="parameters" element="GetJSONParentMemberResponse" />
  </wsdl:message>
  <wsdl:message name="IOlapDataProvider_GetJSONCubes_InputMessage">
    <wsdl:part name="parameters" element="GetJSONCubes" />
  </wsdl:message>
  <wsdl:message name="IOlapDataProvider_GetJSONCubes_OutputMessage">
    <wsdl:part name="parameters" element="GetJSONCubesResponse" />
  </wsdl:message>
  <wsdl:message name="IOlapDataProvider_GetJSONChildMembers_InputMessage">
    <wsdl:part name="parameters" element="GetJSONChildMembers" />
  </wsdl:message>
  <wsdl:message name="IOlapDataProvider_GetJSONChildMembers_OutputMessage">
    <wsdl:part name="parameters" element="GetJSONChildMembersResponse" />
  </wsdl:message>
  <wsdl:message name="IOlapDataProvider_GetJSONChildrenByMDX_InputMessage">
    <wsdl:part name="parameters" element="GetJSONChildrenByMDX" />
  </wsdl:message>
  <wsdl:message name="IOlapDataProvider_GetJSONChildrenByMDX_OutputMessage">
    <wsdl:part name="parameters" element="GetJSONChildrenByMDXResponse" />
  </wsdl:message>
  <wsdl:message name="IOlapDataProvider_GetJSONDataWithTotalCount_InputMessage">
    <wsdl:part name="parameters" element="GetJSONDataWithTotalCount" />
  </wsdl:message>
  <wsdl:message name="IOlapDataProvider_GetJSONDataWithTotalCount_OutputMessage">
    <wsdl:part name="parameters" element="GetJSONDataWithTotalCountResponse" />
  </wsdl:message>
  <wsdl:message name="IOlapDataProvider_GetJSONLevelMembersUsingMdx_InputMessage">
    <wsdl:part name="parameters" element="GetJSONLevelMembersUsingMdx" />
  </wsdl:message>
  <wsdl:message name="IOlapDataProvider_GetJSONLevelMembersUsingMdx_OutputMessage">
    <wsdl:part name="parameters" element="GetJSONLevelMembersUsingMdxResponse" />
  </wsdl:message>
  <wsdl:message name="IOlapDataProvider_GetJSONExecuteMemberCount_InputMessage">
    <wsdl:part name="parameters" element="GetJSONExecuteMemberCount" />
  </wsdl:message>
  <wsdl:message name="IOlapDataProvider_GetJSONExecuteMemberCount_OutputMessage">
    <wsdl:part name="parameters" element="GetJSONExecuteMemberCountResponse" />
  </wsdl:message>
  <wsdl:message name="IOlapDataProvider_GetJSONExecuteDrillThroughQuery_InputMessage">
    <wsdl:part name="parameters" element="GetJSONExecuteDrillThroughQuery" />
  </wsdl:message>
  <wsdl:message name="IOlapDataProvider_GetJSONExecuteDrillThroughQuery_OutputMessage">
    <wsdl:part name="parameters" element="GetJSONExecuteDrillThroughQueryResponse" />
  </wsdl:message>
  <wsdl:portType name="IOlapDataProvider">
    <wsdl:operation name="GetJSONData">
      <wsdl:input wsaw:Action="urn:IOlapDataProvider/GetJSONData" message="IOlapDataProvider_GetJSONData_InputMessage" />
      <wsdl:output wsaw:Action="urn:IOlapDataProvider/GetJSONDataResponse" message="IOlapDataProvider_GetJSONData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONCubeSchema">
      <wsdl:input wsaw:Action="urn:IOlapDataProvider/GetJSONCubeSchema" message="IOlapDataProvider_GetJSONCubeSchema_InputMessage" />
      <wsdl:output wsaw:Action="urn:IOlapDataProvider/GetJSONCubeSchemaResponse" message="IOlapDataProvider_GetJSONCubeSchema_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONMeasureGroupsDimensions">
      <wsdl:input wsaw:Action="urn:IOlapDataProvider/GetJSONMeasureGroupsDimensions" message="IOlapDataProvider_GetJSONMeasureGroupsDimensions_InputMessage" />
      <wsdl:output wsaw:Action="urn:IOlapDataProvider/GetJSONMeasureGroupsDimensionsResponse" message="IOlapDataProvider_GetJSONMeasureGroupsDimensions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONParentMember">
      <wsdl:input wsaw:Action="urn:IOlapDataProvider/GetJSONParentMember" message="IOlapDataProvider_GetJSONParentMember_InputMessage" />
      <wsdl:output wsaw:Action="urn:IOlapDataProvider/GetJSONParentMemberResponse" message="IOlapDataProvider_GetJSONParentMember_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONCubes">
      <wsdl:input wsaw:Action="urn:IOlapDataProvider/GetJSONCubes" message="IOlapDataProvider_GetJSONCubes_InputMessage" />
      <wsdl:output wsaw:Action="urn:IOlapDataProvider/GetJSONCubesResponse" message="IOlapDataProvider_GetJSONCubes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONChildMembers">
      <wsdl:input wsaw:Action="urn:IOlapDataProvider/GetJSONChildMembers" message="IOlapDataProvider_GetJSONChildMembers_InputMessage" />
      <wsdl:output wsaw:Action="urn:IOlapDataProvider/GetJSONChildMembersResponse" message="IOlapDataProvider_GetJSONChildMembers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONChildrenByMDX">
      <wsdl:input wsaw:Action="urn:IOlapDataProvider/GetJSONChildrenByMDX" message="IOlapDataProvider_GetJSONChildrenByMDX_InputMessage" />
      <wsdl:output wsaw:Action="urn:IOlapDataProvider/GetJSONChildrenByMDXResponse" message="IOlapDataProvider_GetJSONChildrenByMDX_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONDataWithTotalCount">
      <wsdl:input wsaw:Action="urn:IOlapDataProvider/GetJSONDataWithTotalCount" message="IOlapDataProvider_GetJSONDataWithTotalCount_InputMessage" />
      <wsdl:output wsaw:Action="urn:IOlapDataProvider/GetJSONDataWithTotalCountResponse" message="IOlapDataProvider_GetJSONDataWithTotalCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONLevelMembersUsingMdx">
      <wsdl:input wsaw:Action="urn:IOlapDataProvider/GetJSONLevelMembersUsingMdx" message="IOlapDataProvider_GetJSONLevelMembersUsingMdx_InputMessage" />
      <wsdl:output wsaw:Action="urn:IOlapDataProvider/GetJSONLevelMembersUsingMdxResponse" message="IOlapDataProvider_GetJSONLevelMembersUsingMdx_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONExecuteMemberCount">
      <wsdl:input wsaw:Action="urn:IOlapDataProvider/GetJSONExecuteMemberCount" message="IOlapDataProvider_GetJSONExecuteMemberCount_InputMessage" />
      <wsdl:output wsaw:Action="urn:IOlapDataProvider/GetJSONExecuteMemberCountResponse" message="IOlapDataProvider_GetJSONExecuteMemberCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONExecuteDrillThroughQuery">
      <wsdl:input wsaw:Action="urn:IOlapDataProvider/GetJSONExecuteDrillThroughQuery" message="IOlapDataProvider_GetJSONExecuteDrillThroughQuery_InputMessage" />
      <wsdl:output wsaw:Action="urn:IOlapDataProvider/GetJSONExecuteDrillThroughQueryResponse" message="IOlapDataProvider_GetJSONExecuteDrillThroughQuery_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>