PivotGauge/Service References/OlapManagerService/service4.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OlapManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="" location="" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_IOlapDataProvider" type="IOlapDataProvider">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetJSONData">
      <soap:operation soapAction="urn:IOlapDataProvider/GetJSONData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONCubeSchema">
      <soap:operation soapAction="urn:IOlapDataProvider/GetJSONCubeSchema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONMeasureGroupsDimensions">
      <soap:operation soapAction="urn:IOlapDataProvider/GetJSONMeasureGroupsDimensions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONParentMember">
      <soap:operation soapAction="urn:IOlapDataProvider/GetJSONParentMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONCubes">
      <soap:operation soapAction="urn:IOlapDataProvider/GetJSONCubes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONChildMembers">
      <soap:operation soapAction="urn:IOlapDataProvider/GetJSONChildMembers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONChildrenByMDX">
      <soap:operation soapAction="urn:IOlapDataProvider/GetJSONChildrenByMDX" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONDataWithTotalCount">
      <soap:operation soapAction="urn:IOlapDataProvider/GetJSONDataWithTotalCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONLevelMembersUsingMdx">
      <soap:operation soapAction="urn:IOlapDataProvider/GetJSONLevelMembersUsingMdx" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONExecuteMemberCount">
      <soap:operation soapAction="urn:IOlapDataProvider/GetJSONExecuteMemberCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONExecuteDrillThroughQuery">
      <soap:operation soapAction="urn:IOlapDataProvider/GetJSONExecuteDrillThroughQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OlapManager">
    <wsdl:port name="BasicHttpBinding_IOlapDataProvider" binding="tns:BasicHttpBinding_IOlapDataProvider">
      <soap:address location="http://bi.syncfusion.com/OlapUWPService/OlapManager.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>