PivotGauge/Service References/OlapManagerService/service4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Syncfusion.Olap.UWP.Common" />
  <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Syncfusion.Olap.UWP.Common" name="dictionary" nillable="true" type="q1:SerializableDictionaryOfstringanyType" />
  <xs:element name="GetJSONData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mDXQuery" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="currentReport" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="allowMdxToOlapReportParse" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJSONDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetJSONDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJSONCubeSchema">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cubeName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJSONCubeSchemaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetJSONCubeSchemaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJSONMeasureGroupsDimensions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cubeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="measureGroupName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJSONMeasureGroupsDimensionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetJSONMeasureGroupsDimensionsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJSONParentMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uniqueName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="currentCubeName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJSONParentMemberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetJSONParentMemberResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJSONCubes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJSONCubesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetJSONCubesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJSONChildMembers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cubeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="levelName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJSONChildMembersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetJSONChildMembersResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJSONChildrenByMDX">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="command" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJSONChildrenByMDXResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetJSONChildrenByMDXResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJSONDataWithTotalCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="currentReport" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJSONDataWithTotalCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetJSONDataWithTotalCountResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJSONLevelMembersUsingMdx">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberUniqueName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="axisPosition" type="xs:int" />
        <xs:element minOccurs="0" name="isGrandTotalOn" type="xs:boolean" />
        <xs:element minOccurs="0" name="cubeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pagingParams" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJSONLevelMembersUsingMdxResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetJSONLevelMembersUsingMdxResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJSONExecuteMemberCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mdxQuery" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJSONExecuteMemberCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetJSONExecuteMemberCountResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJSONExecuteDrillThroughQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mdxQuery" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJSONExecuteDrillThroughQueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetJSONExecuteDrillThroughQueryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>